.implementation {
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .encrypted-text {
            font-size: 20px;

            span {
                font-weight: bold;
                font-size: 24px;
            }
        }
    }

    input {
        width: 100%;
    }
}
